/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/****************************/
body{
	background: #c5c2c2;
	height: 100%;
	line-height: 1;
	font-size: 14px;
	color: #252b42;
	font-family: Montserrat;
	font-weight: 500;
}
.wrapper {
	padding: 100px 0px;
	width: 500px;
	margin: 0 auto;
	min-height: 100%;
	overflow: hidden;
}
input {
	height: 30px;
	padding: 0 15px;
	margin: 0 0 15px 0;
	border-radius: 10px;
}

input:required {
	border:  1px solid #ca310b;
}

label {
	margin: 0 0 10px 0;
}

label span{
	margin: 0 0 0 15px;
	font-size: 10px;
	text-transform: uppercase;
	color: #db441f;
}
.form {
	display: flex;
	flex-direction: column;
}

.submit {
	padding: 8px 15px;
	border-radius: 10px;
	background-color: transparent;
	border: 1px solid #252b42;
}

.submit:hover, .submit:focus{
	background-color: #ffffff;
	border-color: #ffffff;
}

.modal{
	flex-direction: column;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 5;
	overflow: hidden;
	transform: translate(-50%,-50%);
	width: 250px;
	height: 150px;
	border-radius: 10px;
	background: #fafafa;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.modal-btn{
	background-color: #c5c2c2;
	border-radius: 10px;
	padding: 10px 20px;
	margin: 20px 0 0 0;
}


.hide{
	display: none;
}