.game-field{
   overflow: hidden;
   position: relative;
   width: 100vw;
   height: 100vh;
   &__score{
      z-index: 90;
      display: block;
      position: relative;
      background: linear-gradient(to bottom, #f2fcfe, #ee79d5);
      padding: 20px;
      font-size: 24px;
   }
}