.sidebar{
   height: 100vh;
	justify-content: flex-start;
	flex: 0 1 20%;
	padding: 20px;
	background-color: #c5f3ff;
}
.sidebar img{
	margin: 10px 0 45px 0;
}
.sidebar h2{
	margin: 0 0 15px 0;
	font-weight: bold;
}
.sidebar-nav{
	text-align: left;
}

.sidebar-nav li{
	font-size: 13px;
	list-style-type: disc;
	margin: 0 0 10px 0;
}