.form{
	max-width: 500px;
	margin: 2rem auto;
}

.form-field{
	display: flex;
	flex-direction: column;
	margin: 0 0 15px 0;
}
.radio{
	display: flex;
	align-items: center;
}
.radio label{
	margin: 0 7px 0 0;
}

.checkboxes{
	display: flex;
	align-items: center;
}

.password{
	display: flex;
}

.password input{
	width: 85%;
	margin: 0 10px 0 0;
}

input{
	padding: 7px;
	height: 20px;
}


.submit-btn{
	padding: 7px 15px;
}

.FormField__error{
	color: red;
}